@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Open+Sans:400,700');

body, html {
  height: 100%;
}

body, html, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.typewriter {
  font-family: 'Merriweather', serif;
}

.application__content {
  min-height: 80vh;
}

.application__footer {
  padding: 1em;
  text-align: center;
}

.application__footer > .authenticated__footer {
  font-weight: bold;
  font-size: .8em;
}

a,
a:visited {
  color: #2CE5FF;
  text-decoration: none;
  transition: 'color' .3s ease-in-out;
}

a:hover {
  color: #45B3D6;
}
