<div class="ui raised padded segment container form">
  <div class="field">
    <label>Title</label>
    {{input type="text" value=model.title placeholder="Title"}}
  </div>
  <div class="field">
    <label>Note</label>
    {{textarea value=model.text placeholder="Note"}}
  </div>

  <button type="button" class="ui large button" {{action "saveNote"}}>Save Edits</button>
</div>
